html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.center-text {
    text-align: center;
}

.mx-6 {
    margin-left: 6px;
    margin-right: 6px;
}

.mr-4 {
    margin-right: 4px;
}

.card-set {
    background-color: #c8dfd7;
    margin: 10px;
    padding: 5px;
}
